<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">org.apache.derby.jdbc.EmbeddedDriver</property>
        <property name="connection.url">jdbc:derby:memory:myDb;create=true</property>
        <property name="connection.username">user</property>
        <property name="connection.password">pass</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.DerbyDialect</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Update the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>

        <!-- Annotated classes -->
        <mapping class="com.proj.model.entities.AccountInformationEntity"/>
        <mapping class="com.proj.model.entities.AccountTypeEntity"/>
        <mapping class="com.proj.model.entities.AddressEntity"/>
        <mapping class="com.proj.model.entities.AgentInformationEntity"/>
        <mapping class="com.proj.model.entities.BankBranchEntity"/>
        <mapping class="com.proj.model.entities.CityEntity"/>
        <mapping class="com.proj.model.entities.Client_AccountJunctionEntity"/>
        <mapping class="com.proj.model.entities.CountryEntity"/>
        <mapping class="com.proj.model.entities.CredentialEntity"/>
        <mapping class="com.proj.model.entities.CurrencyConversionEntity"/>
        <mapping class="com.proj.model.entities.CurrencyEntity"/>
        <mapping class="com.proj.model.entities.DepositHistoryEntity"/>
        <mapping class="com.proj.model.entities.DocumentEntity"/>
        <mapping class="com.proj.model.entities.DocumentTypeEntity"/>
        <mapping class="com.proj.model.entities.DutyHistoryEntity"/>
        <mapping class="com.proj.model.entities.FeedbackEntity"/>
        <mapping class="com.proj.model.entities.GenderEntity"/>
        <mapping class="com.proj.model.entities.ProvinceEntity"/>
        <mapping class="com.proj.model.entities.RoleEntity"/>
        <mapping class="com.proj.model.entities.TransactionHistoryEntity"/>
        <mapping class="com.proj.model.entities.TransactionStatusEntity"/>
        <mapping class="com.proj.model.entities.TransactionTypeEntity"/>
        <mapping class="com.proj.model.entities.WithdrawalHistoryEntity"/>
        </session-factory>
</hibernate-configuration>


